*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 5px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 8;
}

.result__video-container {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 7;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__textfield {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 225px;
  height: 27px;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
}

.search-form__label-text::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border: 1px solid #fff;
  padding-left: 1px;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  border: 2px solid #1b1919;
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__label:has(.search-form__pseudo-checkbox):has(:hover) {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  height: 34px;
  cursor: pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 8;
  margin-left: 30px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  grid-row-start: 4;
  grid-row-end: 9;
}

.content__list-item {
  padding: 2px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__list-item:has(.content__card-link_current) {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  color: #fff;
  text-decoration-skip-ink: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 200px;
  overflow-wrap: break-word;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button {
  width: 100%;
}